<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ReportIsSupport.Properties.Settings.isSupportConnetionString"
      connectionString="Data Source=10.10.11.148\ISSQL_SERVER;Initial Catalog=IsSupport12;User ID=sa;Password=Gthcgtrnbdf6"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>